extends ../layout

block content
    h1 Enter Download Code
        div.form-group
            input(id='js-download' type='text', placeholder='Download Code', name='url', class='form-control')
        input(id='js-submit', type='submit', value='Submit', class=['btn', 'btn-primary', 'btn-lg', 'btn-block'])
   
