extends ../layout

block content
    h1 Paste Link
    form(action='/', method='POST')
        input(type='hidden', name='_csrf', value=token)
        div.form-group
            input(type='text', placeholder='File URL', name='url', class='form-control')
        input(type='submit', value='Submit', class=['btn', 'btn-primary', 'btn-lg', 'btn-block'])

