extends ../layout

block content
    h1 File URL
    form(action='/', method='POST')
        div.form-group
            input(type='text', placeholder='File URL', name='url', class='form-control')
        input(type='submit', value='Submit', class=['btn', 'btn-primary', 'btn-lg', 'btn-block'])

