extends ../layout

block content
    h1 File: 
        = file.name
    h4.text-muted You may wish to bookmark this page to generate more download links in the future

    input(type='text', id='url-output', class='form-control', onclick='this.select()')

    form(action='/download', method='POST', id='generate-form')
        div.form-group
            input(type='hidden', name='file_id', value=file._id, class='form-control')
        input(type='submit', value='Generate Download Link', class=['btn', 'btn-primary', 'btn-lg', 'btn-block'])

    script(type='text/javascript', src='/js/generate.js')
