extends ../layout

block content
    h1 About Distrius
    p Distrius is a service that generates restricted-use download links to any url.
    p Distrius will provide you with links to send to clients or friends, allowing them to download a file, but not distribute the file's location or share the download link.
    p We assume no liability for any files distributed through this service.
