doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= settings.title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')

    block js
      script(src='//code.jquery.com/jquery-2.1.0.min.js')
      script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  body

    div.container
        header
            ul(class=['nav', 'nav-pills', 'pull-right'])
                li
                    a(href='/') Home
                li
                    a(href='/about') About
            h3.text-muted Distrius

        div.jumbotron
            block content

    footer
        p.text-muted
            &copy; 2014 
            a(href='http://jpbetley.com') JPBetley 

    script(type='text/javascript', src='/js/ga.js')
    script(type='text/javascript', src='/js/generate.js')
    script(type='text/javascript', src='/js/download.js')
